/* 这个忘记了，*全局，清除自带边距 */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    /* list-style:none  删除本身带的样式、标点啥的。像列表的前面那个点 */
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
}

li {
    /* flex: auto; 和值为1有啥区别 */
    flex: 1;
    text-align: center;
}

.active {
    color: rgb(38, 6, 218);
}